* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #1b2b3e;
    color: white;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 500px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 6px;
}

.container h1 {
    font-weight: 700;
    font-size: 45px;
}

.container h1 {
    font-weight: 700;
    font-size: 45px;
}

.container h1 span {
    color: #00dc75;
    border-bottom: 4px solid #00dc75;
    padding-bottom: 6px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}

.container button{
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 12px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.paste-password{
    border: 0;
    outline: 0;
    width: 250px;
    font-size: 24px;
    margin-top: 50px;
    padding: 26px 20px;
    border-radius: 6px;
}